<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Hackethon</title>

    <!-- Include our css -->
    <link href="{{ url_for('static',filename='main_style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/lab_page.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Window tab icon -->
    <link rel="icon" href="static/images/webicon.png" type="images/x-icon">

    <!-- Our customized main layout -->
    <script type="text/javascript" src="static/js/main_layout/med_ai_header.js"></script>
    <script type="text/javascript" src="static/js/main_layout/med_ai_footer.js"></script>
</head>
<body>
    <!-- Header -->
    <med-ai-header></med-ai-header>

    <!-- Main Screen -->
    <div class="dashboard-screen">
        <div class="dashboard-content">
            <section class="first-page">
                <div class="container-shadow">
                    <div class="first-page-btn">
                        <div id="jumpToVideoButton" class="btn btn-primary"><i class="fa-solid fa-user-doctor"></i>Talk to Assistant</div>
                    </div>
                </div>
            </section>
            <script src="static/js/first_page_action.js"></script>

            <section class="media-container">
                <img id="videoElementId" src="{{ url_for('video_feed_seam') }}" width="400" height="200"/>
                <!-- Control Buttons -->
                <div class="control">
                  <!-- Upload Video -->
                  <form action="{{url_for('upload_seam')}}" method="post" enctype="multipart/form-data">
                      <input id="playButton1" class="remote-button1" type="file" name="video" accept=".mp4">
                      <input id="playButton" class="remote-button2" type="submit" value="Calories Counter">
              
                  </form>

            <!-- Video Section -->
            <section id="video-section" class="video background-black">
                <div class="container-small">
                    <h2 class="video-heading text-xl text-center">
                        Watch the video and see how it works.
                    </h2>
                    <div class="video-content">
                        <!-- Add a video element -->
                        <video id="tutorialVideo" controls class="video-preview">
                            <source src="../static/videos/second.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <!-- Add a button to play the video -->
                        <button id="playButton" class="btn btn-primary">Talk to assistant</button>
                    </div>
                </div>
            </section>
            <script src="static/js/video_action.js"></script>
        </div>
    </div>

    <!-- Footer -->
    <med-ai-footer></med-ai-footer>
</body>
</html>