<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Hackethon</title>

    <!-- Include our css -->
    <link href="{{ url_for('static',filename='main_style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static',filename='css/lab_page.css') }}" rel="stylesheet" type="text/css"/>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Window tab icon -->
    <link rel="icon" href="static/images/webicon.png" type="images/x-icon">

    <!-- Our customized main layout -->
    <script type="text/javascript" src="static/js/main_layout/med_ai_header.js"></script>
    <script type="text/javascript" src="static/js/main_layout/med_ai_footer.js"></script>
</head>
<body>
    <!-- Header -->
    <med-ai-header></med-ai-header>

    <!-- Main Screen -->
    <div class="dashboard-screen">
        <div class="dashboard-content">
            <!-- First Page Contents -->
            <section class="first-page">
                <div class="container-shadow">
                    <div class="first-page-box" id="firstPageBox">
                        <div class="box-text">Display Analyses:</div>
                        <!-- <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"> -->
                    </div>
                    <div class="first-page-btn">
                        <!-- Display extracted text -->
                        <!-- <div id="extractedTextContainer" class="btn-analyse" style="display: none; max-height: 550px; overflow-y: auto; padding: 20px; background-color: #f8f9fa; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom: 30px;"> -->
                        <div id="extractedTextContainer" class="btn-analyse">
                            <h2>Extracted Text:</h2>
                            <pre id="extractedText" style="white-space: pre-wrap;"></pre>
                            <p id="wordCount"></p>
                        </div>
        
                        <form class="report-btns" id="uploadForm" action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
                            <!-- <div class="report-btn-text" for="pdfFile">Choose a PDF file:</div> -->
                            <div class="btn btn-primary">
                                <!-- <label for="pdfFile"><i class="fas fa-laptop"></i>Choose a PDF file:</label><br> -->
                                <i class="fas fa-laptop"></i><input type="file" id="pdfFile" name="pdfFile" accept=".pdf">
                            </div>
                            <div type="button" id="analyseButton" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Analyse</div>
                        </form>
                        <div id="jumpToVideoButton" class="btn btn-primary"><i class="fa-solid fa-user-doctor"></i>Talk to Assistant</div>
                    </div>
                </div>
            </section>
            <script src="static/js/first_page_action.js"></script>
            
            <!-- Video Section -->
            <section id="video-section" class="video background-black">
                <div class="container-small">
                    <h2 class="video-heading text-xl text-center">
                        Watch the video and see how it works.
                    </h2>
                    <div class="video-content">
                        <!-- Add a video element -->
                        <video id="tutorialVideo" controls class="video-preview">
                            <source src="static/videos/first.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                        <!-- Add a button to play the video -->
                        <button id="playButton" class="btn btn-primary">Talk to assistant</button>
                    </div>
                </div>
            </section>  
            <script src="static/js/video_action.js"></script>
                    
        </div>
    </div>


    <!-- Footer -->
    <med-ai-footer></med-ai-footer>
</body>
</html>